{% extends 'base.html.twig' %}

{% block title %}Main Page : Dashbord{% endblock %}

{% block body %}
    <h1 class="text-center">TABLEAU DE BORD</h1>

    <h2 class="text-center"> - {{ "now" | date("M") | format_date(locale='fr', pattern="MMMM YYYY") }} - </h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center">{{ sumNewCollabCurrentMonth }}</p>
                <p class="text-center">Nouveaux Collaborateurs</p>
            </div>
            <div class="col">
                <p class="text-center">{{ sumTbCollabModification }}</p>
                <p class="text-center">Collaborateurs modifiés</p>
                <p class="text-center"><a href={{ path('showCollabModif') }}>Voir les collaborateurs</a></p>
            </div>
            <div class="col">
                <p class="text-center">{{ sumNewCandidCurrentMonth }}</p>
                <p class="text-center">Nouveaux Candidats</p>
            </div>
        </div>
    </div>

    <h2>Les derniers inscrits</h2>
    <ul>
        {% for user in lastUsers %}
            <li><a href ={{  path('singleProfil', {idProfil:user.profil.id, idUser:user.id}) }}>{{ user.prenom }} {{ user.nom | upper }}</a></li>
            <li>Crée le : {{ user.createdAt | date('d M Y') | format_date(locale='fr') }} à  {{ user.createdAt | date('H:i:s') }}</li>
            <li>Profil :  {{ user.profil.nom }}</li>
        {% endfor %}
    </ul>
{% endblock %}
