{% extends 'base.html.twig' %}

{% block title %}Modification User Mission{% endblock %}

{% block body %}

    <h1>MODIFIER UNE MISSION</h1>

{#
    {{ form_start(modifUserMissionForm) }}
    {{ form_row(modifUserMissionForm.company) }}
    {{ form_row(modifUserMissionForm.descirptif) }}
    {{ form_row(modifUserMissionForm.debut) }}
    {{ form_row(modifUserMissionForm.fin) }}
    {{ form_row(modifUserMissionForm.en_cours) }}
    <button class="btn btn-primary">Modifier</button>
    {{ form_end(modifUserMissionForm) }}
#}

    <div class="border-bottom mt-5 mb-5">
        {{ form_start(modifUserMissionForm) }}
        <div class="mt-3 mb-3 d-flex justify-content-around">
            <h5> - {{ modifUserMission.company.nom }}</h5>
            <div class="d-none">
                <p>{{ form_row(modifUserMissionForm.company) }}</p>
            </div>
            {{ form_row(modifUserMissionForm.debut) }}
            {{ form_row(modifUserMissionForm.fin) }}
            {{ form_row(modifUserMissionForm.en_cours) }}
        </div>
        <div class="mt-3 mb-3">
            <label class="w-100">Descriptif{{ form_row(modifUserMissionForm.descirptif) }}</label>
        </div>
        <button class="d-flex ms-auto btn btn-primary btn-sm mb-3">Modifier</button>
        {{ form_end(modifUserMissionForm) }}
    </div>

    <a class="text-decoration-none" href= {{ path('singleProfilMissions', {idUser:idUser,idProfil:modifUserMission.user.profil.id})  }}>
        <button class="btn-sm btn btn-secondary">Annuler</button>
    </a>
{% endblock %}


