 <h1 class="text-center mb-3">{{ oneProfil.nom | upper }} {{ oneProfil.prenom }}</h1>

    <h4 class="text-center text-warning mb-5"> - {{ oneProfil.profil.nom | upper}} - </h4>

    <div class="mb-4">
        <h5>Adresse</h5>
        <p>{{ oneProfil.adresse }}</p>
    </div>
    <div class="mb-4">
        <h5>Code Postal</h5>
        <p>{{ oneProfil.cp }}</p>
    </div>
    <div class="mb-4">
        <h5>Ville</h5>
        <p>{{ oneProfil.ville }}</p>
    </div>
    <div class="mb-4">
        <h5>Email</h5>
        <p>{{ oneProfil.email }}</p>
    </div>
    <div class="mb-4">
        <h5>Téléphone</h5>
        <p>{{ oneProfil.telephone }}</p>
    </div>
    <div class="mb-4">
        <h5>Inscrit depuis le</h5>
        <p>{{ oneProfil.createdAt | date('d M Y') | format_date(locale='fr') }}</p>
    </div>

    <div class="mb-4">
        {%  if not is_granted('ROLE_USER') %}
            {% if oneProfil.etat == true %}
                <h5>Actuellement dans la société</h5>
            {% else %}
                <p>A quitté la société</p>
            {% endif %}
        {% endif %}
    </div>

{% if (app.user.roles[0] is same as('ROLE_USER')) or (app.user.roles[0] is same as('ROLE_ADMIN')) %}
    <div>
        {% if oneProfil.profil.nom is same as('Candidat') %}
            <a href ={{  path('modifCandidate', {idUser:oneProfil.id, idProfil:idProfil}) }}><button type="button" class="btn btn-outline-primary">Modifier les informations</button></a>
        {% else %}
            <a href ={{  path('modifCollaborateur', {idUser:oneProfil.id, idProfil:idProfil}) }}><button type="button" class="btn btn-outline-primary">Modifier les informations</button></a>
        {% endif %}
    </div>
{% endif %}

{# {% endblock %} #}
