{% extends 'base.html.twig' %}

{% block title %}Modification User Skills{% endblock %}

{% block body %}

    <h1>MODIFIER UNE COMPETENCE</h1>

    <div class="border-bottom mt-5 mb-5">
        {{ form_start(modifUserSkillForm) }}
        <div class="mt-3 mb-3 d-flex justify-content-around">
            <h5> - {{ modifUserSkill.skill.nom }}</h5>
            <div class="d-none">
                <p>{{ form_row(modifUserSkillForm.skill) }}</p>
            </div>
            <label>Expertise{{ form_row(modifUserSkillForm.expertise) }}</label>
            <label>Favorite{{ form_row(modifUserSkillForm.prefer) }}</label>
        </div>
        <button class="d-flex ms-auto btn btn-primary btn-sm mb-3">Modifier</button>
        {{ form_end(modifUserSkillForm) }}
    </div>

    <a class="text-decoration-none" href= {{ path('singleProfilSkills', {idUser:idUser,idProfil:modifUserSkill.user.profil.id})  }}>
        <button class="btn-sm btn btn-secondary">Annuler</button>
    </a>

{% endblock %}


