{% extends 'base.html.twig' %}

{% block body %}

    {% set diplayResult = false %}

    {% if nameSearched is defined %}

        <h1>Résultat pour "{{nameSearched.nom }}" </h1>

        <div class="border-top border-bottom my-5">
            {% for user in listUser %}
                {% if nameSearched.nom | upper == user.nom | upper %}
                <div class="py-4"><a href ={{ path('singleProfilMissions', {idProfil:user.profil.id, idUser:user.id}) }}>{{ user.nom | upper }} {{ user.prenom }}</a></div>
                    {%  set  diplayResult = true %}
                {%  else %}
                {% endif %}
            {% endfor %}
            {% if diplayResult == false %}
                <div class="py-5 border-bottom border-top">Aucune Correspondance ! </div>
            {% endif %}
        </div>

        <a href={{ path('searchByName') }}>
            <button class="d-flex ms-auto me-auto btn btn-primary mb-3">Lancer une nouvelle recherche</button>
        </a>

    {% else %}

        <h1>Rechercher un nom : </h1>

        <div class="border-top border-bottom my-5">
            {{ form_start(formSearchByName) }}
            <div class="d-flex justify-content-center py-5">
                <div class="w-50"> {{ form_row(formSearchByName.nom) }}</div>
                <div><button class="btn btn-primary">Afficher</button></div>
            </div>
            {{ form_end(formSearchByName) }}
        </div>

    {% endif %}
{% endblock %}