{% extends 'base.html.twig' %}

{% block body %}

    {% set diplayResult = false %}

    {% if skillSearched is defined %}

        <h1>Résultat pour "{{skillSearched.nom.nom }}" </h1>
        <div class="my-5">
            {% for el in LienUserSkill %}
                {% if skillSearched.nom.id == el.skill.id and el.prefer == true %}
                    {% for user in listUser %}
                        {%  if user.id == el.user.id %}
                            <div class="py-3 border-bottom"><a href ={{  path('singleProfilMissions', {idProfil:user.profil.id, idUser:user.id}) }}>{{ user.nom | upper }} {{ user.prenom }}</a></div>
                            {%  set  diplayResult = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if diplayResult == false %}
                <div class="py-5 border-bottom border-top">Aucune Correspondance ! </div>
            {% endif %}
        </div>

        <a href={{ path('searchByPrefer') }}>
            <button class="d-flex ms-auto me-auto btn btn-primary mb-3">Lancer une nouvelle recherche</button>
        </a>

    {% else %}

        <h1>Recherche une compétence préférée :</h1>

        <div class="border-top border-bottom my-5">
            {{ form_start(formSearchByPrefer) }}
            <div class="d-flex justify-content-center py-5">
                <div class="w-50">{{ form_row(formSearchByPrefer.nom) }}</div>
                <button class="btn btn-sm btn-primary">Afficher</button>
            </div>
            {{ form_end(formSearchByPrefer) }}
        </div>

    {% endif %}
{% endblock %}