{% extends 'base.html.twig' %}

{% block body %}

    {% if skillSearched is defined %}

        <h1>Résultat de la recherche pour la compétence "{{skillSearched.nom.nom }}" </h1>
        {% for el in LienUserSkill %}
            {% if skillSearched.nom.id == el.skill.id %}
                {% for user in listUser %}
                    {%  if user.id == el.user.id %}
                        <li><a href ={{  path('singleProfil', {idProfil:user.profil.id, idUser:user.id}) }}>{{ user.nom | upper }} {{ user.prenom }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        <a href={{ path('searchBySkill') }}>Lancer une nouvelle recherche</a>

    {% else %}

        <h1>Recherche avancée par COMPETENCE</h1>
        {{ form_start(formSearchByKill) }}
        {{ form_row(formSearchByKill.nom) }}
        <button>Afficher</button>
        {{ form_end(formSearchByKill) }}

    {% endif %}

{% endblock %}