<h3>Panneau d'Administration</h3>
<ul>
    <li><a href= {{ path('manageCandidate')  }}>Gestion des candidats</a></li>
    <li><a href= {{ path('manageCollaborateur')  }}>Gestion des collaborateurs</a></li>
    <li><a href= {{ path('manageSkill')  }}>Gestion des compétences</a></li>
    <li><a href= {{ path('manageCategory')  }}>Gestion des catégories</a></li>
    <li><a href= {{ path('manageCompany')  }}>Gestion des entreprises</a></li>
</ul>
