{% extends 'base.html.twig' %}

{% block title %}List Candidates{% endblock %}

{% block body %}


    <h1>GESTION DES CANDIDATS</h1>

    <div class="border-top border-bottom mt-5 mb-5">
        {{ form_start(formNewCandidate) }}
        <div class="mt-3 mb-3 d-flex">
            <label class="w-100">Nom{{ form_row(formNewCandidate.nom) }}</label>
            <label class="w-100">Prenom{{ form_row(formNewCandidate.prenom) }}</label>
            <label class="w-100">Téléphone{{ form_row(formNewCandidate.telephone) }}</label>
        </div>
        <div class="mt-3 mb-3 d-flex">
            <label class="w-100">Adresse {{ form_row(formNewCandidate.adresse) }}</label>
            <label class="w-100">Code Postal {{ form_row(formNewCandidate.cp) }}</label>
            <label class="w-100">Ville{{ form_row(formNewCandidate.ville) }}</label>
        </div>
        <div class="mt-3 mb-3 d-flex">
            <label class="w-100">Etat{{ form_row(formNewCandidate.etat) }}</label>
            <label class="w-100">Profil{{ form_row(formNewCandidate.profil) }}</label>
            <label class="w-100">{{ form_row(formNewCandidate.roles) }}</label>
        </div>
        <div class="mt-3 mb-3 d-flex justify-content-center">
            <label class="text-center w-50">Email {{ form_row(formNewCandidate.email) }}</label>
        </div>
        <div class="mt-3 mb-3">
            <label class="d-flex justify-content-center w-100">{{ form_row(formNewCandidate.password) }}</label>
        </div>
        <button class="d-flex ms-auto btn btn-primary btn-sm mb-3">Ajouter un Candidat</button>
        {{ form_end(formNewCandidate) }}
    </div>

    <h2 class="mb-3">Répertoire</h2>
    {% for user in  candidateList %}
        {% if user.profil.nom == 'Candidat' %}
            <div class="container border-bottom py-3 px-5">
                <div class="row">
                    <div class="col-6">
                        {{ user.nom | upper }} {{ user.prenom }}
                    </div>
                    <div class="col text-start">
                        <a class="text-decoration-none" href= {{ path('singleProfilMissions', {idProfil:user.profil.id, idUser:user.id})  }}>
                            <button class="d-flex me-auto btn-sm btn btn-outline-primary">Voir le profil</button>
                        </a>
                    </div>
                    <div class="col text-start">
                        <a class="text-decoration-none" href= {{ path('modifCandidate', {idUser : user.id, idProfil:user.profil.id})   }}>
                            <button class="d-flex me-auto btn-sm btn btn-outline-primary">Modifier</button>
                        </a>
                    </div>
                    <div class="col text-center">
                        <button class="d-flex ms-auto btn btn-sm">
                            <a class="text-danger" href= {{ path('suppCandidate', {idUser : user.id})  }}>Supprimer</a>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
